# Big thanks and love for using my plugins! ^^

#|--------------------------------------------------------------------------------------------------------------------|#
# Plugin: KillStreak
# Author: https://www.mc-market.org/members/89497/
# Description: Simple plugin for counting kills of players.
# Dependencies:
#   -> PLJRApi
#|--------------------------------------------------------------------------------------------------------------------|#

###############\
# MySQL Setup ##############################################################################################\
############### This is the most important part, as the plugin can not work without proper MySQL Database. # \
              ##############################################################################################  \
mysql:
  enabled: false #-> Should we use this database instead of the one configured in PLJRApi config.yml?
  host: "127.0.0.1"
  port: "3306"
  database: "db"
  username: "root"
  password: ""
#|--------------------------------------------------------------------------------------------------------------------|#

##################\
# Settings Setup #############################################################\
################## Here, you can enable or disable functions of this plugin. # \
                 #############################################################  \
settings:
  bungee: false #-> Should we use bungee functions?
  leaderboard: 15 #-> How many players should be displayed in the menu? (Minimum is 3)
  autoupdate: 3600 #-> Time between automatic updates of leader board. (In seconds)
#|--------------------------------------------------------------------------------------------------------------------|#

##############\
# Menu Setup ###############################################\
############## Here, you can customize plugin's main menu. # \
             ###############################################  \
menu:
  top1:
    name: "&e1. &7%name"
    lore:
      - "&8► §f%kills"
  top2:
    name: "&e2. &7%name"
    lore:
      - "&8► §f%kills"
  top3:
    name: "&e3. &7%name"
    lore:
      - "&8► §f%kills"
  leaderboard:
    type: "SIGN"
    name: "&eOthers"
    lore:
      - "§r" # will be replaced
  update:
    type: "REDSTONE"
    name: "&aUpdate"
    lore:
      - "&8► &fClick for leaderboard update."
#|--------------------------------------------------------------------------------------------------------------------|#

##############\
# Lang Setup ################################################################\
############## Here, you can customize messages, send by the plugin itself. # \
             ################################################################  \
lang:
  MENU_TITLE: "&e&lKillStreak"
  LEADERBOARD_FORMAT: "&8► &e%pos. &7%name &f%kills"
  NO_CONSOLE: "&aKillStreak &8» &fThis command is for in-game use only!"
#|--------------------------------------------------------------------------------------------------------------------|#

#####################
# KillStreaks Setup ####################################################################
##################### Here, you can create and customize your own special killstreaks! #
                    ####################################################################
killstreaks:
  example:
    start: 0
    end: 4
    broadcast: false
    broadcast-message:
      - "Noone will ever see this! Haha!"
    title:
      title: "&c&lKillStreak"
      subtitle: "&fYour killstreak is now &e%killstreak&f!"
      in: 20
      stay: 40
      out: 20
    sound:
      type: "BLOCK_ANVIL_BREAK"
      volume: 1
      pitch: 1
  special-example:
    start: 5
    end: 5
    broadcast: true
    broadcast-message:
      - "&c&lKillStreak!"
      - "&e%killer &fkilled &e%victim&f!"
      - "&fNew player's killstreak is &e%killstreak&f!"
    title:
      title: "&e&lKillStreak"
      subtitle: "&bYou killed %victim and got KillStreak of &d5&b! &eLet's go!"
      in: 20
      stay: 50
      out: 20
    sound:
      type: "BLOCK_ANVIL_BREAK"
      volume: 1
      pitch: 1
  infinity-example:
    start: 6
    end: 9999
    broadcast: false
    broadcast-message:
      - "Noone will ever see this! Haha!"
    title:
      title: "&c&lKillStreak"
      subtitle: "&fYour killstreak is now &e%killstreak&f!"
      in: 20
      stay: 40
      out: 20
    sound:
      type: "BLOCK_ANVIL_BREAK"
      volume: 1
      pitch: 1
#|--------------------------------------------------------------------------------------------------------------------|#